@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(17, 35, 65);
    color: #ffff;
}

::-webkit-scrollbar{
    display: none;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}